In [1]:
import numpy as np
import pandas as pd

In [82]:
dataset1=pd.read_csv("archive/Iris.csv")

In [85]:
dataset1.head(70)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
65,66,6.7,3.1,4.4,1.4,Iris-versicolor
66,67,5.6,3.0,4.5,1.5,Iris-versicolor
67,68,5.8,2.7,4.1,1.0,Iris-versicolor
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
69,70,5.6,2.5,3.9,1.1,Iris-versicolor

In [57]:
X=dataset.iloc[:,1:-1]

In [58]:
Y=dataset.iloc[:,-1]

In [52]:
from sklearn.preprocessing import LabelEncoder

In [53]:
label=LabelEncoder()

In [55]:
dataset['Species']=label.fit_transform(dataset['Species'])

In [105]:
dataset1.head(70)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
65,66,6.7,3.1,4.4,1.4,Iris-versicolor
66,67,5.6,3.0,4.5,1.5,Iris-versicolor
67,68,5.8,2.7,4.1,1.0,Iris-versicolor
68,69,6.2,2.2,4.5,1.5,Iris-versicolor
69,70,5.6,2.5,3.9,1.1,Iris-versicolor

In [62]:
Y=Y.values

In [64]:
X.shape

(150, 4)

In [63]:
Y.shape

(150,)

In [65]:
from sklearn.model_selection import train_test_split

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [73]:
from sklearn.neighbors import KNeighborsClassifier

In [76]:
KNN=KNeighborsClassifier(n_neighbors=7,metric="euclidean",p=2)

In [77]:
KNN.fit(X_train,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=7)

In [78]:
y_pred=KNN.predict(X_test)

In [79]:
print(y_pred)

[1 0 2 1 1 0 1 2 1 1 2 0 0 0 0 1 2 1 1 2 0 2 0 2 2 2 2 2 0 0 0 0 1 0 0 2 1
 0 0 0 2 1 1 0 0 1 1 2 1 2]

In [87]:
for i in y_pred:
    if i == 0:
        print(i,"Iris-setosa")
    elif i == 1:
        print(i,"Iris-versicolor")
    elif i ==2 :
        print(i,"Iris-virginica")

1 Iris-versicolor
0 Iris-setosa
2 Iris-virginica
1 Iris-versicolor
1 Iris-versicolor
0 Iris-setosa
1 Iris-versicolor
2 Iris-virginica
1 Iris-versicolor
1 Iris-versicolor
2 Iris-virginica
0 Iris-setosa
0 Iris-setosa
0 Iris-setosa
0 Iris-setosa
1 Iris-versicolor
2 Iris-virginica
1 Iris-versicolor
1 Iris-versicolor
2 Iris-virginica
0 Iris-setosa
2 Iris-virginica
0 Iris-setosa
2 Iris-virginica
2 Iris-virginica
2 Iris-virginica
2 Iris-virginica
2 Iris-virginica
0 Iris-setosa
0 Iris-setosa
0 Iris-setosa
0 Iris-setosa
1 Iris-versicolor
0 Iris-setosa
0 Iris-setosa
2 Iris-virginica
1 Iris-versicolor
0 Iris-setosa
0 Iris-setosa
0 Iris-setosa
2 Iris-virginica
1 Iris-versicolor
1 Iris-versicolor
0 Iris-setosa
0 Iris-setosa
1 Iris-versicolor
1 Iris-versicolor
2 Iris-virginica
1 Iris-versicolor
2 Iris-virginica

In [89]:
y_test

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0,
       0, 1, 2, 2, 1, 2])

In [106]:
a=[5.6,	2.5,	3.9,	1.1]

In [107]:
if KNN.predict([a])[0] == 0:
    print("Iris-setosa")
elif KNN.predict([a])[0] == 1:
    print("Iris-versicolor")
elif KNN.predict([a])[0] == 2:
    print("Iris-virginica")

Iris-versicolor