In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
X_train=pd.read_csv("Training Data/Diabetes_XTrain.csv")

In [14]:
y_train=pd.read_csv("Training Data/Diabetes_YTrain.csv")

In [4]:
X_test=pd.read_csv("Diabetes_Xtest.csv")

In [15]:
y_train.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [29]:
y_train=y_train.values.reshape(-1,)

In [22]:
from sklearn.neighbors import KNeighborsClassifier

In [23]:
KNN=KNeighborsClassifier(n_neighbors=7, metric="euclidean",p=2)

In [30]:
KNN.fit(X_train,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=7)

In [37]:
y_pred=KNN.predict(X_test)

In [39]:
y_pred=pd.DataFrame(y_pred,columns=["Outcome"])

In [40]:
y_pred

     Outcome
0          1
1          0
2          0
3          0
4          0
..       ...
187        1
188        1
189        1
190        1
191        0

[192 rows x 1 columns]

In [41]:
y_pred.to_csv("Diabetes.csv",index=False)

In [42]:
dataset=pd.read_csv("Diabetes.csv")

In [44]:
dataset

     Outcome
0          1
1          0
2          0
3          0
4          0
..       ...
187        1
188        1
189        1
190        1
191        0

[192 rows x 1 columns]