In [122]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from numpy import savetxt

In [83]:
X_train=pd.read_csv("Training Data/Diabetes_XTrain.csv")

In [84]:
X_train.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,7,168,88,42,321,38.2,0.787,40
1,8,110,76,0,0,27.8,0.237,58
2,7,147,76,0,0,39.4,0.257,43
3,2,100,66,20,90,32.9,0.867,28
4,4,129,86,20,270,35.1,0.231,23

In [85]:
y_train=pd.read_csv("Training Data/Diabetes_YTrain.csv")

In [86]:
y_train.head()

   Outcome
0        1
1        0
2        1
3        1
4        0

In [87]:
X_test=pd.read_csv("Diabetes_Xtest.csv")

In [88]:
X_test.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0,180,90,26,90,36.5,0.314,35
1,2,93,64,32,160,38.0,0.674,23
2,2,114,68,22,0,28.7,0.092,25
3,13,76,60,0,0,32.8,0.180,41
4,1,80,74,11,60,30.0,0.527,22

In [91]:
X_train.shape

(576, 8)

In [99]:
type(y_train)

pandas.core.frame.DataFrame

In [107]:
y_training=y_train.values.reshape(-1,)

In [109]:
print(y_training.shape)

(576,)

In [110]:
from sklearn.neighbors import KNeighborsClassifier

In [111]:
knn=KNeighborsClassifier(n_neighbors=7, metric="euclidean",p=2)

In [113]:
knn.fit(X_train,y_training)

KNeighborsClassifier(metric='euclidean', n_neighbors=7)

In [114]:
y_pred=knn.predict(X_test)

In [120]:
print(y_pred)
type(y_pred)

[1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 1 0 1 0 0 0 1 0 0 1 0 1 0 1 0 0 1 1 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 1 1 0 0 0 0 1 1 1 0 0 0 1 1 0 0 1
 1 1 0 0 0 0 1 0 0 0 0 0 0 1 1 1 0 1 0 0 0 0 1 0 0 1 1 1 0 0 0 1 1 1 0 0 1
 1 1 0 0 1 0 0 1 1 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 1 1 1
 1 0 1 1 1 1 0]

numpy.ndarray

In [118]:
for i in y_pred:
    if i == 1:
        print(i,"Not Diabetic")
    else:
        print(i,"Diabetic")

1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
1 Not Diabetic
0 Diabetic

In [125]:
df = pd.DataFrame (y_pred)

In [128]:
df.to_csv("data1.csv",index=False,)

In [130]:
y_pred

array([1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0], dtype=int64)