In [1]:
import numpy as np
import pandas as pd

In [43]:
X_train=pd.read_csv("Training Data/Linear_X_Train.csv")

In [44]:
Y_train=pd.read_csv("Training Data/Linear_Y_Train.csv")

In [45]:
X_test=pd.read_csv("Test Cases/Linear_X_Test.csv")

In [47]:
X_train=X_train.values.reshape(-1,1)

In [48]:
X_test=X_test.values.reshape(-1,1)

In [51]:
Y_train

               y
0      -0.091101
1     -53.467721
2      75.457009
3     -12.025286
4      57.414187
...          ...
3745  -13.530595
3746  114.741657
3747  -34.983275
3748  145.206092
3749  -17.124494

[3750 rows x 1 columns]

In [52]:
from sklearn.linear_model import LinearRegression

In [53]:
model=LinearRegression()

In [55]:
model=model.fit(X_train,Y_train)

In [29]:
X_train=X_train.values

In [31]:
X_train=X_train.reshape(-1,1)

In [34]:
X_test=X_test.values

X_test=X_test.reshape(-1,1)

In [56]:
y_pred=model.predict(X_test)

In [57]:
y_pred

array([[-147.52847525],
       [ -66.26699842],
       [-200.06209345],
       ...,
       [  14.0382031 ],
       [ -18.66616899],
       [ -51.07594693]])

In [60]:
y_pandas=pd.DataFrame(y_pred,columns=['y'])

In [61]:
y_pandas

               y
0    -147.528475
1     -66.266998
2    -200.062093
3     226.044960
4      51.329285
...          ...
1245   -9.808053
1246   78.812578
1247   14.038203
1248  -18.666169
1249  -51.075947

[1250 rows x 1 columns]

In [64]:
y_pandas.to_csv("submit.csv",index=False)