In [1]:
from urllib.request import urlopen

In [8]:
toyota_url='https://en.wikipedia.org/wiki/Toyota'

In [9]:
toyota_html=urlopen(toyota_url)

In [10]:
toyota_get=toyota_html.read()

In [11]:
from bs4 import BeautifulSoup as soup

In [12]:
toyota_soup=soup(toyota_get,'html.parser')

In [15]:
toyota_heading=toyota_soup.findAll("h1",{})

In [20]:
for i in toyota_heading:
    print(i.text)

Toyota

In [128]:
tables = toyota_soup.findAll("table",{"class":"wikitable"})

In [129]:
toyota_table=tables[0]

In [130]:
h=toyota_table.findAll("th",{})

In [131]:
heading= [i.text[:-1] for i in h[2:-10] ]

In [132]:
f=toyota_table.findAll("tr",{})[2]

In [133]:
f=f.findAll("td",{})

In [134]:
first_row=list()
for i,j in enumerate(f):
    if i == 0:
        first_row.append((j.text[1:-1]))
    else:
        first_row.append((j.text[:-1]))

In [157]:
row_data=toyota_table.findAll("tr",{})[2:]

In [213]:
b_list = list()
for row in row_data:
    current_list=list()
    for index,data in enumerate(row.findAll("td",{})):
        if index == 0:
            current_list.append(data.text[1:-1])
        else:
             current_list.append(data.text[:-1])
    b_list.append(current_list)

In [218]:
filename='toyota.csv'
with open(filename,"w",encoding='UTF-8') as f:
    header_string=",".join(heading)
    header_string += '\n'
    f.write(header_string)
    
    for row in b_list:
        row_string = ",".join(row)
        row_string += '\n'
        f.write(row_string)

In [216]:
for i in range(10):
    b_list[i][1]=(b_list[i][1].replace(",",""))

In [219]:
import pandas as pd

In [220]:
dataset=pd.read_csv('C:/Users/U372769/Desktop/Python/WebScraping/toyota.csv')

In [221]:
dataset

        Location  Vehiclesales
0  United States       2383348
1          China       1620698
2          Japan       1610169
3            GCC        368433
4       Thailand        332380
5      Indonesia        332354
6         Canada        237091
7         Brazil        217430
8      Australia        215378
9    Philippines        162011